.nutrion__tr td{
    border-bottom: 1px solid var(--rose-white);
    padding: 0.5em 0 0.5em 1.5em;
}   

.nutrion__tr--noBorde td{
    border-bottom: 0px solid white;
}

@media screen and (min-width: 1024px){
    .nutrion__tr td{
        padding-left: 3em;
    }
}